body{
    background:#e0e5ec;
    font-family:Verdana;
}
.panel{
    background-color:#e0e5ec;
}
.content{
    background-color:#fff;    
    width:24%;
    height:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style:solid;
    border-color:#e2000f;   
}
.content:hover{
    transform: translateY(-15px);
    overflow: hidden;
    background-color:whitesmoke;        
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor:pointer;
    border-style:solid;
    border-color:#000;
  } 
.content h5,h6{
    color:rgb(51, 51, 51);
    text-decoration-line: none;
    
}
.main{
    width:61%;
}
.news{
    width:31%;   
}
.news_heading{
    background-color:#fff;Padding-left:10px;padding-top:10px;
    height:295px;margin-top:75px;border-style:solid;border-color:#E2000F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img_heading{
    
    height:295px;margin-top:16px;    
}
.img_heading img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo img{
    width:225px;
    
}

:root
{

  --color1:#e0e5ec; /* gray */
  --color2:#E2000F; /* Red */
  --white:#fff;
  --black:#333;
  /*--color2:#ff9600;*/ /* yellow */

 

  /*
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
  */
}

#rightSideAreaNews
{
  min-height: 225px;
  max-height: 225px;
  overflow: hidden;  
  
}

.rightSideAreaNews
{
  margin-top: 10px;
}

.rightSideAreaNews .block
{
  margin-left:0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
}

.rightSideAreaNews .block .leftArea
{
  float: left;
  margin-right: 10px;
  position: relative;
  width:20%;
}
.rightSideAreaNews .block .leftArea .dateTime
{
  background-color: var(--color2);
  width: 80px;
  padding: 0px 0;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.rightSideAreaNews .block .leftArea .dateTime .date
{
  font-family: inherit;
  font-weight: 600;
  font-size: 30px;
  color: var(--white);
  display: block;
  text-align: center;
  margin-bottom: 7px;
  line-height: 30px;
  padding:7px 0;
}
.rightSideAreaNews .block .leftArea .dateTime .month-year
{
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  color: var(--black);
  display: block;
  text-align: center;
  background-color: var(--color1); 
  padding: 5px 0;
}

.rightSideAreaNews .block .RightDetailArea
{
  margin:0px 0;
  display: inline-block;
  width: 70%;
  position: relative;
}

.rightSideAreaNews .block .RightDetailArea .title
{
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 20px;
}

.rightSideAreaNews .block .RightDetailArea .title a
{
  color:#333;
}

.rightSideAreaNews .block .RightDetailArea .title:hover a
{
  color: var(--color2);
  text-decoration: none;
}

.rightSideAreaNews .block .RightDetailArea .descri p
{
  margin-bottom: 0px;
  line-height: 20px;
  text-align:justify;
   font-family: inherit;
  font-weight: 400;
  font-size:12px;
}

.rightSideAreaNews .block .RightDetailArea .anchorBtn .btns
{
   font-family: inherit;
  font-weight: 600;
  color: var(--color2);
  text-transform: uppercase;
  font-size:12px;
}
.rightSideAreaNews .block .RightDetailArea .anchorBtn .btns:hover{
  color: var(--color2);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #E2000F #E2000F;
}

 

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

 

*::-webkit-scrollbar-track {
  background: transparent;
}

 

*::-webkit-scrollbar-thumb {
  background-color: #E2000F;
 
  
}

