body{
    background-color:#fff;
    font-family:Verdana;
}
.panel{
    background-color:#fff;
}
.titlehead{
  margin-top:14.75px;
  margin-bottom:14.75px;
  font-weight:bold;
}
.Home .btn{
 
  /*   padding-left:50px;
    padding-right:50px; */
    
    float:right;
    
    
  }
  
  .Home .btn-primary{
    
    color:#000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e0e5ec;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81); 
  }
  .Home .btn-primary:hover{
    color:#E2000F;
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  }
.content{
   
    margin-bottom:0;
    background-color:#fff;    
    width:18%;
    height:90px;
    
    
}
.content:hover{
   
    background-color:#EBEFF0;   
    height:90px;
    
   
  } 
 
.content h5,h6{
    color:#000;
    text-decoration-line: none;
    font-weight:500;
    
}
.mainhead{
  width:60.88%;
  margin-left: 60px;
  height: auto;
}
.main{
    width:100%;
    border-radius: 25px;
    border-style:solid;
    border-color:#E2000F;
    margin-top:0%;
    
}
.news{
    margin-left:1%;
    width:31%;   
}
.news_heading{
    background-color:#FFF;Padding-left:10px;padding-top:10px;
    height: 411px;border-radius: 25px;
    border-style:solid;
    border-color:#E2000F;
}

.news_gallery{
  background-color:#FFF;Padding-left:10px;padding-top:10px;margin-left:2%;
    height: 345px;margin-top:20px;overflow: hidden;  border-radius: 25px;
    border-style:solid;
    border-color:#E2000F;
}

.gallery{
  margin-top:2%;
  margin-left:40px;
}

.news_gallery img{
  border-radius: 15px 50px;
 
  
}

.news_gallery p{
  font-size:12px;
}

.gallerynews{
  width:62.333%;
  margin-left: 25px;
  height: auto;
}
/*
.img_heading{
    
    height:295px;margin-top:16px;    
}
.img_heading img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/
.logo img{
    width:225px;
    
}

:root
{

  --color1:#e0e5ec; /* gray */
  --color2:#E2000F; /* Red */
  --white:#fff;
  --black:#333;
  /*--color2:#ff9600;*/ /* yellow */

 

  /*
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
  */
}

#rightSideAreaNews
{
  min-height: 330px;
  max-height: 330px;
  overflow: hidden;  
  
}

.rightSideAreaNews
{
  margin-top: 10px;
}

.rightSideAreaNews .block
{
  margin-left:0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
}

.rightSideAreaNews .block .leftArea
{
  float: left;
  margin-left:2.5%;
  position: relative;
  width:20%;
  margin-top:1%;
  
}
.rightSideAreaNews .block .leftArea .dateTime
{
  background-color: var(--color2);
  width: 80px;
  padding: 0px 0;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 80% 100%, 20% 100%, 0% 70%, 0% 30%);

}

.rightSideAreaNews .block .leftArea .dateTime .date
{
  font-family: inherit;
  font-weight: 600;
  font-size: 24px;
  color: var(--white);
  display: block;
  text-align: center;
  margin-top:3%;
  margin-bottom: 3%;
  line-height: 30px;
  padding:7px 0;
}
.rightSideAreaNews .block .leftArea .dateTime .month-year
{
  font-family: inherit;
  font-weight: 600;
  font-size: 10px;
  color: var(--black);
  display: block;
  text-align: center;
  background-color: var(--color1); 
  padding: 5px 0;
}

.rightSideAreaNews .block .RightDetailArea
{
  margin-left:2.5%;
  display: inline-block;
  width: 70%;
  position: relative;
}

.rightSideAreaNews .block .RightDetailArea .title
{
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 4px;
  line-height: 20px;
}

.rightSideAreaNews .block .RightDetailArea .title a
{
  color:#333;
}

.rightSideAreaNews .block .RightDetailArea .title:hover a
{
  color: var(--color2);
  text-decoration: none;
}

.rightSideAreaNews .block .RightDetailArea .descri p
{
  margin-bottom: 0px;
  line-height: 20px;
  text-align:justify;
   font-family: inherit;
  font-weight: 400;
  font-size:10px;
}

.rightSideAreaNews .block .RightDetailArea .anchorBtn .btns
{
   font-family: inherit;
  font-weight: 600;
  color: var(--color2);
  text-transform: uppercase;
  font-size:10px;
}
.rightSideAreaNews .block .RightDetailArea .anchorBtn .btns:hover{
  color: var(--color2);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #E2000F #E2000F;
}

 

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

 

*::-webkit-scrollbar-track {
  background: transparent;
}

 

*::-webkit-scrollbar-thumb {
  background-color: #E2000F;
 
  
}
.link:hover{
  color:#E2000F;
}

.gallery:hover{
    color:#E2000F;
}

.vl{
  border-left: 1.8px solid #E2000F;
        height: 90px;
  width:4%;
  margin-left:3%;
}

.h6_Risk{
  margin-top:4%;
}

/* Button used to open the contact form - fixed at the bottom of the page */

.reportfeedback-button{
  width:260px;
      cursor: pointer;
    position: fixed;
    right:6%;
    z-index: 9;
    top:72.5%;
}
.reportfeedback-button:hover{  
    padding: 5px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 3%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  box-shadow: 0 3px 15px lightcoral;
  transform: translate3d(0,-3px,0);  
}

/* Add styles to the form container */
.form-container {
  max-width: 470px;
  padding: 10px;
  background-color: white;
  font-size:12px;
}

/* Full-width input fields */
.form-container input[type=text]  {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

#powtow{
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
}

#powtow:focus {
  background-color: #ddd;
  outline: none;
}

/* Full-width input fields */
.form-container input[type=number]  {
  width: 40%;
  padding: 8px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

/* Full-width input fields */
.form-container input[type=email]  {
  width: 59%;
  padding: 8px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
  margin-left: 6%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:#E2000F;
}

/* Add some hover effects to buttons */
.form-container .btn:hover:hover {
  opacity: 0.5;
}

textarea {
  width: 100%;
  padding: 12px;
  outline:none;
 
  margin-top: 6px;
  margin-bottom: 16px;
  
  background: #f1f1f1;
}

textarea:focus{
  background-color: #ddd;
  outline: none;
}

@media only screen and (max-width: 720px) {
  .logo img{
      width:200%;
      margin-top:10%;
      
  }
  .Home{
    width:150%;    
    margin-right: 20%;
  }
  .titlehead{
    font-weight:bold;
    margin-top:70px;
  }
  .mainhead{
    width: 96%;
    margin-left:4%;
  }

  .mainhead .content{
    width:44%;
  }

  .mainhead .vl{
    display:none;
  }

  .mainhead hr{
    display:none;
  }

  .events_top{
    display: none;
  }

  .news{
    margin-left: 4%;
    width: 88%;
  }

  .news_heading{
    height:510px;
    margin-top:6%;    
  }

  #rightSideAreaNews {
    min-height: 460px;
    max-height: 460px;
    overflow: hidden;
  }

  .rightSideAreaNews .block .RightDetailArea{
    margin-left:10%;
    width: 65%;
  }

  .gallerynews{
    margin-left: 0%;
    width: 96%;
  }
  .news_gallery {
    margin-left: 0.5%;
    height:200px;
    overflow: hidden;
  }
  .gallery{
    margin-left:0;
  }
  
  .form-container input[type=number]{
    width:39.5%;
  }

  .reportfeedback-button{
    width:160px;
    top:85%;
    right:-5%;
  }
  
}

@media only screen and (max-width: 1000px) and (min-width: 501px){
  .mainhead {
    width:89.89%;
  }
  .events_top{
    display: none;
  }
  .rightSideAreaNews .block .RightDetailArea{
    margin-left:0;
  }
  .news{
    margin-left: 8%;
    width:75%;
  }
  .news_heading{
    margin-top: 8%;
  }
  .gallerynews {    
    width: 80%;
    margin-left: 5%;    
  }
  .news_gallery{
    margin-top: 8%;
    height: 260px;
  }
  .h6_Risk{
    font-size:10px;
  }
  .logo img {
    width: 200px;
  }
  .reportfeedback-button{
    width:230px;
    top:80%;
    right:-4%;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1001px){  
  .rightSideAreaNews .block .RightDetailArea{
    margin-left:5.5%;
  }
  .reportfeedback-button{
    width:230px;
    top:74%;  
  }
}
