
body{
    background:#e0e5ec;
    font-family:Verdana;
}
.logo{    
    margin-top: 40px;    
}
.logo img{
    width:225px;
    
}
.localdropdown .btn{
    width:220px;
 /*   padding-left:50px;
    padding-right:50px; */
    line-height:3;
    float:right;
    margin-top: 40px;
}
.localdropdown .dropdown-menu
{    
    margin-top:95px;

}
.localdropdown .btn-primary{
    
    color:#E2000F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e0e5ec;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
   
    
}
.localdropdown .btn-primary:hover{
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover {
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary {
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}
.dropdown-menu {
    color:#E2000F;
   
    background: #e0e5ec;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
}
.dropdown-menu:hover{
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.content{
    margin-top:40px;
}
.content .welcome .container-fluid{
    background: #fff;
    box-shadow:
   -7px -7px 20px 0px #d9d9d9,
   -4px -4px 5px 0px #d9d9d9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #d9d9d9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #d9d9d9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
   border-radius: 20px;
   border-style:solid;
   border-color:#E2000F;
   height:500px;
}
.blink-text{
    color: #000;    
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%		{ color: #10c018;}
    25%		{ color: #1056c0;}
    50%		{ color: #ef0a1a;}
    75%		{ color: #254878;}
    100%	{ color: #04a1d5;}
}
.content .middle .container-fluid{
    background: #fff;
    box-shadow:
   -7px -7px 20px 0px #d9d9d9,
   -4px -4px 5px 0px #d9d9d9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #d9d9d9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #d9d9d9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
   border-radius: 20px;
   border-style:solid;
   border-color:#E2000F;
   height:500px;
}
.content .news .container-fluid{
    background: #fff;
    box-shadow:
   -7px -7px 20px 0px #d9d9d9,
   -4px -4px 5px 0px #d9d9d9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #d9d9d9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #d9d9d9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
   border-radius: 20px;
   border-style:solid;
   border-color:#E2000F;
   height:500px;
}

.buttonwelcome{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #e0e5ec;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
 height:180px;
 width: 250px;
 
 border-style:solid;
 border-color:#E2000F;
}
.buttonwelcome:hover{
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
    cursor:pointer;
    border-style:solid;
    border-color:#E2000F;
}

.buttonnews{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #e0e5ec;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
 height:180px;
 width: 85%;
 margin-top:40px;
 border-style:solid;
 border-color:#E2000F;
}
.buttonnews:hover{
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
    cursor:pointer;
    border-style:solid;
    border-color:#E2000F;
}

.buttonse{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #e0e5ec;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
 transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
 height:180px;
 margin-left:18px;
 width:30%;
 margin-top:40px;
 border-style:solid;
 border-color:#E2000F;
 
}

.buttonwelcome .left{
    margin-left:9%;
}

.buttonse .left{
    margin-left:7%;
}
.buttonse:hover{
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
    cursor:pointer;
    border-style:solid;
    border-color:#E2000F;
}
.buttonmiddle{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #e0e5ec;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    height:180px;
    
    margin-left:21px;
    margin-top:40px;
    border-style:solid;
    border-color:#E2000F;
 
}
.buttonmiddle:hover{
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
    cursor:pointer;
    border-style:solid;
    border-color:#E2000F;
}
.search{
    margin:0;
    padding:0;
    box-sizing: border-box;
    margin-top: 70px;
}
input[type="checkbox"]{
    display:none;
}
.box{
    position:absolute;
    left:50%;
    top:95%;
    transform:translate(-50%,-50%);
    width:50px;
    height:50px;
    transition: .5s;
}
.box label{
    position: absolute;
    right:0;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:50%;
    text-align:center;
    color:gray;
    font-size:23px;
    cursor:pointer;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
}
.box label:hover{
    border-color: hsla(0, 0%, 100%, 0);
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}
.box input{
    width:100%;
    height:100%;
    background-color: transparent;
    border:none;
    border-radius:30px;
    outline:none;
    font-size:19px;
    padding-left:20px;
    color:gray;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001,
   inset 0px 0px 0px 0px #fff9,
   inset 0px 0px 0px 0px #0001,
   inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    opacity:0;
}
.box input:focus{
    border-color: hsla(0, 0%, 100%, 0); 
    box-shadow: inset -7px -7px 20px 0 #fff9, inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

#check:checked+.box>input{
    opacity:1;
}
#check:checked+.box>label{
    box-shadow:none;
}
#check:checked+.box>label:hover{
    box-shadow:none;
    transform:scale(1);
}

/* waves */
.ocean {
    height: 80px; /* change the height of the waves here */
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    margin-top:30px;
  }
  
  .wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='hsl(356, 100%, 44%)'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
  }
  
  .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
  }
  
  .wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
  }
  
  @keyframes wave {
      0% {transform: translateX(0);}
      50% {transform: translateX(-25%);}
      100% {transform: translateX(-50%);}
  }

  @media only screen and (min-width: 1200px) {
    #check:checked+.box{
        width:500px;
    }
  }

  @media only screen and (max-width: 720px) {
    .logo img{
        width:150%;
        
    }
    .localdropdown .btn{
        width:150%;
        line-height: 2;
    }
    .box{
        width:40px;
    height:40px;
    }
    .box input{
        font-size:12px;
    }
    .box label{
        width:40px;
    height:40px; 
    line-height:40px;
    }
    #check:checked+.box{
        width:200px;
    }
    .welcome{
        width:100%;
    }
    .search{
        margin-top:130px;
    }
    
    .buttonse{
        width:88%;
    }
    .buttonse .left{
        margin-left:10%;
    }
    .content .middle .container-fluid{
        height: 485px;
    }
    .middle{
        margin-top:20px;
        width:100%;
    }
    
    .content .news .container-fluid {
        height:265px;
    }

    .buttonmiddle{
        width:88%;
    }
    .news{
        margin-top:20px;
        width:100%;
    }
    
}
